test/simpre/*
test/complete_matrices/input*
BKQ.ods
*.pdf
*.png
__pycache__/
OctoYot/
*.txt 
!dic_*.txt
*.inp
!Oh_dist.inp
!cfp_*_conf.txt
!test/complete_matrices/d*.txt
!test/*.inp
NJA-manuscript*
my_test_nja.py
simpre.par
simpre.dat
Other_scripts/
*.npy
B1F_ALL.TXT
